In [15]:
import glob, os
import pandas as pd

file_list = glob.glob('./data/*.csv') 
df = pd.DataFrame()


for f in file_list:
    df_tmp = pd.read_csv(f)
    i = f.find('cy')
    df_tmp['year'] = f[i+2:i+6]
    i = f.find('\\')
    df_tmp['sex'] = f[i+1]
    df = pd.concat([df, df_tmp],ignore_index=True)

In [4]:
df['Position'] = df.Position.str.replace('=','')

In [5]:
df.Position.str.contains('=').sum()

0

In [14]:
dup_val = df[df.duplicated(['Given Name','year'],keep=False)].groupby(['Given Name','year']).Amount.sum()

In [21]:
dup_val.shape[0]

8711

In [18]:
dup_val.head()

Given Name  year
(NOT        1968     8
AARON       1963     8
            1966     7
            1968    21
            1969    10
Name: Amount, dtype: int64

In [22]:
df.shape[0]

210939

In [23]:
df.drop_duplicates(['Given Name','year'],keep=False)

       Given Name  Amount Position  year sex
1           HELEN     209        2  1944   f
2          JUDITH     189        3  1944   f
3        PATRICIA     186        4  1944   f
4          PAMELA     160        5  1944   f
5       ELIZABETH     153        6  1944   f
6        JENNIFER     149        7  1944   f
8        LORRAINE     143        9  1944   f
9       CHRISTINE     135       10  1944   f
11         JANICE     107      =12  1944   f
13        LYNETTE     106       14  1944   f
14        JILLIAN      98       15  1944   f
15          JANET      97       16  1944   f
18        SHIRLEY      93       19  1944   f
20       ROSEMARY      78       21  1944   f
22          WENDY      73       23  1944   f
23        MARLENE      69       24  1944   f
24         DIANNE      68      =25  1944   f
26         MAXINE      65       27  1944   f
27           JOAN      62       28  1944   f
29           KAYE      60      =29  1944   f
30        COLLEEN      58       31  1944   f
31          SUSAN      53       32  1944   f
32         GLORIA      52       33  1944   f
33        MAUREEN      51       34  1944   f
34        MARILYN      49       35  1944   f
35          MARIE      47       36  1944   f
36         ELAINE      46       37  1944   f
37      JOSEPHINE      45       38  1944   f
38         LEONIE      44       39  1944   f
39           ANNE      43      =40  1944   f
...           ...     ...      ...   ...  ..
210908      ZAPHA       1     =754  2013   m
210909     ZAVIEN       1     =754  2013   m
210910     ZAYAAN       1     =754  2013   m
210911     ZAYDAN       1     =754  2013   m
210912     ZAYDON       1     =754  2013   m
210913     ZAYVIN       1     =754  2013   m
210914      ZEAKE       1     =754  2013   m
210915   ZEBADIAH       1     =754  2013   m
210916    ZEBEDEE       1     =754  2013   m
210917        ZED       1     =754  2013   m
210918      ZEIKE       1     =754  2013   m
210919        ZEN       1     =754  2013   m
210920     ZENITH       1     =754  2013   m
210921  ZEPHANIAH       1     =754  2013   m
210922     ZEPHER       1     =754  2013   m
210923     ZEPHYR       1     =754  2013   m
210924       ZETH       1     =754  2013   m
210925        ZEV       1     =754  2013   m
210926       ZEXI       1     =754  2013   m
210927       ZEYU       1     =754  2013   m
210928        ZHE       1     =754  2013   m
210929    ZHICHEN       1     =754  2013   m
210930    ZHINLAB       1     =754  2013   m
210931    ZHIZHEN       1     =754  2013   m
210933     ZIBRAN       1     =754  2013   m
210934       ZIGI       1     =754  2013   m
210935       ZONG       1     =754  2013   m
210936   ZULFIQAR       1     =754  2013   m
210937      ZYLEN       1     =754  2013   m
210938      ZYRON       1     =754  2013   m

[193224 rows x 5 columns]

In [13]:
df = df.sort_values(['year','Position']).reset_index(drop=True)

In [13]:
df.to_csv("all_names.csv")

you need to merge rows if name is the same!!!

In [12]:
df.head(100)

   Given Name  Amount Position  year sex
0    MARGARET     341        1  1944   f
1        JOHN     477        1  1944   m
2   CHRISTINE     135       10  1944   f
3    GEOFFREY     143       10  1944   m
4       ELLEN      11      103  1944   f
5       ERICA      11      103  1944   f
6        GAIL      11      103  1944   f
7      GWENDA      11      103  1944   f
8       JULIA      11      103  1944   f
9     MERILYN      11      103  1944   f
10       ROMA      11      103  1944   f
11   GRANTLEY       9      105  1944   m
12     MILTON       9      105  1944   m
13     DANIEL       8      107  1944   m
14    GILBERT       8      107  1944   m
15       HUGH       8      107  1944   m
16   LAURENCE       8      107  1944   m
17        LEO       8      107  1944   m
18    STANLEY       8      107  1944   m
19   TERRANCE       8      107  1944   m
20    UNNAMED       8      107  1944   m
21    VINCENT       8      107  1944   m
22   BEVERLEY     114       11  1944   f
23    WILLIAM     128       11  1944   m
24   ADRIENNE      10      110  1944   f
25      LORNA      10      110  1944   f
26      ROBIN      10      110  1944   f
27    SUSANNE      10      110  1944   f
28     VALMAI      10      110  1944   f
29   VIVIENNE      10      110  1944   f
..        ...     ...      ...   ...  ..
70      PEGGY       8      126  1944   f
71    PHYLLIS       8      126  1944   f
72   VIRGINIA       8      126  1944   f
73      ROGER     118       13  1944   m
74     AUDREY       7      135  1944   f
75   CAROLINE       7      135  1944   f
76  CHRISTINA       7      135  1944   f
77     DOREEN       7      135  1944   f
78    ELEANOR       7      135  1944   f
79     GLADYS       7      135  1944   f
80    JENIFER       7      135  1944   f
81     MONICA       7      135  1944   f
82   PRUDENCE       7      135  1944   f
83      SALLY       7      135  1944   f
84  STEPHANIE       7      135  1944   f
85    UNNAMED       7      135  1944   f
86  ALEXANDER       5      137  1944   m
87     ALFRED       5      137  1944   m
88     ARNOLD       5      137  1944   m
89      CYRIL       5      137  1944   m
90   JONATHAN       5      137  1944   m
91      LEIGH       5      137  1944   m
92   MELVILLE       5      137  1944   m
93     MELVYN       5      137  1944   m
94     MORRIS       5      137  1944   m
95     RODGER       5      137  1944   m
96    STEWART       5      137  1944   m
97     STUART       5      137  1944   m
98     WALTER       5      137  1944   m
99    LYNETTE     106       14  1944   f

[100 rows x 5 columns]